@import url("https://use.fontawesome.com/releases/v5.15.4/css/all.css");
@import url('https://fonts.googleapis.com/css?family=Rubik:500,700,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');



/* GENERAL */

* {
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans', sans-serif;
    margin: 0;
    line-height: 1.5;
    overflow-y: hidden;
    color:#292929
}


/* GENERAL END */


/* PRELOADER */

.preloader{
	background-color: #FFF;
	position: fixed;
	left:0;
	top:0;
	height: 100%;
	width: 100%;
	z-index: 150;
	display: flex;
	align-items: center;
	justify-content: center;
    flex-direction: column;
    transition: all 1s ease;
	-webkit-transition: all 1s ease;
}

.preloader img{
    -webkit-animation: fadein 10s linear ;
	animation: fadein 10s linear ;
}

@-webkit-keyframes fadein {
    0%{ 
        -webkit-opacity: 0; 
        opacity: 0;
    }
    100%{
        -webkit-opacity: 1;
        opacity: 1; 
    }
}

@keyframes fadein {
    0%{ 
        -webkit-opacity: 0; 
        opacity: 0;
    }
    100%{
        -webkit-opacity: 1;
        opacity: 1; 
    }
}

.preloader .loader{
    opacity: 1;
    width: 200px;
    margin: 25px;
    position: relative;
    -webkit-transition: all 2s ease;
    transition: all 2s ease;
}

.loader .loading_1 {
    position: relative;
    width: 100%;
    height: 15px;
    border: 1px solid #000;
    border-radius: 10px;
}

.loader .loading_1:before {
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    border-radius: 10px;
    background-color: #2e64b3;
    animation: load 10s linear ;
}

@keyframes load {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

.start{
    margin: 25px;
    display: flex;
    height: 50px;
    width: 50px;
    border: 1px solid #000;
    border-radius: 500px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    opacity: 0;
    -webkit-transition: all 3s ease;
    transition: all 3s ease;
    -webkit-animation: bounce 0.5s ease infinite alternate;
	animation: bounce 0.5s ease infinite alternate;
}

@keyframes bounce {
  
    0%
    {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-20px);
    }
}

.start i{
    font-size: 1.3em;
    color: #2e64b3;
}

/* PRELOADER END */


/* ASIDE */

aside {
    width: 270px;
    background-color: #FFF;
    border-right: 1px solid #e8dfec;
    position: fixed;
    height: 100%;
    left: -270px;
    top: 0;
    z-index: 11;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

aside.open{
    left: 0px;
}

aside .nav_toggler {
    display: flex;
    height: 40px;
    width: 45px;
    border: 1px solid #e8dfec;
    cursor: pointer;
    position: fixed;
    left: 30px;
    top: 20px;
    z-index: 11;
    border-radius: 5px;
    background-color: #fff;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    color: #2e64b3;
}

aside .nav_toggler.open {
    left: 300px;
}

aside .aside_inner {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    padding: 30px;
    overflow-y: auto;
}

aside .aside_inner img{
    width: 100%;
}

aside .nav {
    list-style: none;
    margin: 80px 0;
    padding: 0;
}

aside .nav li {
    display: block;
}

aside .nav li a {
    font-weight: 600;
    color: #2e64b3;
    text-decoration: none;
    line-height: 45px;
    display: block;
    border-bottom: 1px solid #e8dfec;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    text-transform: capitalize;
}

aside .nav li a:not(.active):hover{
	padding-left: 5px;
    color: red;
}

aside .nav li a.active{
	padding-left: 5px;
    color: red;
}

/* ASIDE END */


/* PAGE SWITCHER */

.page_switcher_up {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 45px;
    background: #fff;
    right: 30px;
    bottom: 70px;
    border: 1px solid #e8dfec;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    color: #2e64b3;
    z-index: 11;
}

.page_switcher_down {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 45px;
    background: #fff;
    right: 30px;
    bottom: 20px;
    border: 1px solid #e8dfec;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    color: #2e64b3;
    z-index: 11;
}

/* PAGE SWITCHER END*/


/* SECTION */

section {
    position: fixed;
    background-color: #FFF;
    height: 100vh;
    padding: 70px 30px;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    display: none;
}

section:first-of-type {
    display: block;
}

section.open {
    left: 270px;
}

section h2 {
    font-size: 40px;
    color: #292929;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    margin: 0;
    position: relative;
}

section h2:after {
    content: '';
    height: 4px;
    width: 50px;
    position: absolute;
    top: 90%;
    left: 0;
    background-color: #2e64b3;
}

    /* HOME SECTION */
    #home_logo_container{
        display: flex;
        justify-content: center;
        margin: 75px 0px;
    }

    #home_container{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    #mini_home_container{
        flex: 1 1 0px;
        max-width: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
    }

    .home_content_container{
        text-align: center;
    }

    #links_container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #links_container a{
        text-decoration: none;
        color: #2e64b3;
        line-height: 2.2;
        font-weight: bold;
        transition: all 0.3s ease;
    }

    #links_container a:hover{
        transform: scale(1.2);
    }
    /* HOME SECTION END */

    /* INTRODUCTION SECTION */

    .mini_content_container{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
    }

    .mini_content_container > div{
        margin: 5px;
    }

    .text_container, .big_text_container{
        flex: 1 1 200px;
    }

    .mini_slide_container h3{
        display: inline-block;
    }

    #mini_slide_button{
        cursor: pointer;
        border: none;
        border-radius: 5px;
        color: #2e64b3;
        background:none;  
        align-self: flex-start;
        font-size: 1.2em;
        padding: 5px 8px;
        transition: all 0.3s ease;
    }
    
    #mini_slide_button:hover{
        transform: scale(1.2);
    }

    .mini_slide_container .content_container{
        display: none;
    }
    
    .big_text_container{
        color: #2e64b3;
        font-size: 1.5em;
        font-weight: bold;
        line-height: 2;
        text-align: center;
    }

    .text_container button:hover{
        transform: scale(1.2);
    }

    .text_container p{
        margin: 0px;
        text-align: justify;
    }


    /* FONCTIONNEMENT SECTION */

    .text_composer{
        cursor: pointer;
        margin-right: 21px;
    }

    .text_composer i{
        opacity: 0;
        position: relative;
        top: -20px;
        left: 25px;
        transition: all 0.3s ease;
    }

    .syntax_p{
        margin-block-start: 0em;
    }

    /* FONCTIONNEMENT SECTION END */


/* SECTION END */

/* DEMOS */

.demo{
    margin: 20px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    color: #292929;
    font-family: monospace;
    text-align: left;
}

.demo .selecteur_container, .demo .commands, .demo .reset_demo{
    margin: 5px 10px;
}



.selecteur_container, .demo.commands{
    min-width: 200px;
}

.selecteur_container{
    border: 1px solid #e8dfec;
    border-radius: 5px;
    background-color: #FFF;
    min-width: 330px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.commands{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

button.reset_demo{
    cursor: pointer;
    border: 1px solid #e8dfec;
    border-radius: 5px;
    color: #2e64b3;
    background:none;  
    align-self: flex-start;
    font-size: 1.4em;
    padding: 5px 8px;
    transition: all 0.3s ease;
}

button.reset_demo:hover{
    border: 1px solid #2e64b3;
    color: red;
}

button.reset_demo i{
    transition: all 0.3s ease;
}

.first_command, .second_command, .third_command, .fourth_command{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45%;
    width: -webkit-fill-available;
    cursor: pointer;
    padding: 5px;
    background-color: #fff;
    border: 1px solid #e8dfec;
    border-radius: 5px;
    transition: all 0.3s ease;

}
.first_command, .second_command:not(:last-child), .third_command, .fourth_command:not(:last-child){
    margin-bottom: 5px;
}

.first_command:hover, .second_command:hover, .third_command:hover, .fourth_command:hover{
    border: 1px solid #2e64b3;
}

.code_container{
    padding: 5px;
    background-color: #fff;
    border: 1px solid #e8dfec;
    border-radius: 5px;
    line-height: 1.8;
    font-size: 1.2em;
    margin: 5px;
}

.tagnamecolor{
    color: #a30008;
    font-family: monospace;
}

.tagcolor{
    color: #6d6d6d;
    font-family: monospace;
}

.attributecolor{
    color: red;
    font-family: monospace;
}

.attributevaluecolor{
    color: mediumblue;
    font-family: monospace;
}


.tagcolor_jQuery{
    color: #efd81e;
    font-family: monospace;
}

/* DEMOS END */


/* LIVE CODING */

#live_coding_container{
    height: 90%;
    margin: 50px 50px 0px 50px;
    border: 1px solid #e8dfec;
}

/* LIVE CODING END */



